html, body, #root {
  height: 100%;
  margin: 0;
  background: #000;
}

.kiosk-root {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background:#000;

  user-select: none;
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior: none;
  /* cursor: none; */
}


.media-layer {
  position:absolute;
  inset:0;
  z-index: 0;
}

.overlay-root { 
  position:absolute; 
  inset:0; 
  z-index: 10;
  pointer-events:none; 
}

.overlay-card { 
  pointer-events:auto; 
  background: rgba(16,16,16,.75); 
  color:#fff; border-radius:16px; 
  padding:14px 16px; 
  backdrop-filter: blur(6px); 
}

.btn { 
  border:0; 
  border-radius:12px; 
  padding:10px 14px; 
  margin:0 6px; 
}
